*{box-sizing: border-box; margin:0; padding:0; 
    text-decoration: none; list-style: none;}
#container{
    width:400px;
    margin:auto;
}
header > h1{
    text-align: center;
    padding:20px;
    border-bottom:1px solid#ccc;
    box-shadow: rgba(0,0,0,0.3) 0px 1px 2px;
}
#list{
    height:500px;
    border-bottom:1px solid#ccc;
}
#cart{
    margin:10px;
    font-size : 1.2em;
    font-weight: bold;
    line-height: 2em;
}
#order{
    position:relative;
}
#order button{
    position:absolute;
    top:100px;
    width:100%;
    height: 50px;
    border:none;
    background-color: rgb(255, 240, 34);
    color:rgb(53, 53, 53);
    text-align: center;
    font-size:1.5em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}
#order button:active{
    background-color:rgb(0,0,0);
    color:white;
}