*{
 box-sizing: border-box; padding:0; margin:0; text-decoration: none;
 list-style: none; color:black;
}
#menu{
 width:1000px;
 margin:0px auto;
}
#menu h1{
 font-size:3em;
 margin-left:30px;
}
#menu li{
 width:220px;
 height:300px;
 margin:10px;
 padding:15px;
 display:inline-table;
 border-radius:10px;
 background:rgb(189, 189, 189, 0.3);
 color:rgb(236, 236, 236);
 text-align:center;
 line-height:2em;
 cursor:pointer;
}
#menu img{
    width:100%;
}
#menu li:hover,.tpt li:hover{
 background-color:rgba(148, 148, 148, 0.7);
}