*{box-sizing:border-box; padding:0px; margin:0px;
    font-family: 'Noto Sans KR', sans-serif;}
html{
    scroll-behavior:smooth;
}
#warp{
    width:1280px;
    margin:0px auto;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    color:white;
}
body, p{
    background:rgb(0, 0, 0);
    color:rgb(236, 236, 236);
}
#bg{
    width:1280px;
}
#list{
    width:1280px;
    height:135px;
    background-color:rgba(0, 0, 0, 0.7);
}
#main_logo{
    width:70px;
    position:relative;
    left:50px;
    bottom:20px;
    margin:10px;
}
#list_1 li, #list_1 a{
    color:rgb(236, 236, 236);
    margin:25px 50px 0 0;
    text-shadow:rgb(206, 206, 206) 2px 2px 6px;
    font-size:30px;
    text-align:center;
    float:left;
}
#list:hover{
    background-color:rgb(255, 255, 255);
    transition-duration:0.5s;
    text-shadow:none;
}
#list:hover #list_1>ul>li>a {
    color:black;
    text-shadow:none;
}
#list_2 ul{
    display:flex;
    justify-content:space-around;
    widtH:300px;
    margin:20px;
}
#list_2 img{
    width:40px;
}
#header_image img{
    width:40px;
}
.clear{
    clear:both;
}
#menu{
    width:1280px;
}
#menu h1{
    position:relative;
    left:390px;
    top:50px;
}
#menu img{
    position:relative;
    left:260px;
}
#page_footer{
    border-top:2px solid #ccc;
    margin:30px auto;
}
#page_footer ul {
    height: 140px;
    float: left;
    margin:30px 15px 0 15px;
  }
#page_footer a{
    color:rgb(255, 255, 148);
}
#footer_image ul{
    float:right;
}
#footer_image li{
    float:left;
    position:relative;
    bottom:100px;
    margin-right:20px;
}
#footer_image img{
    width:50px;
}